@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>    
</div>


<form action="/home/transfer" method="post">
    <div class="form-group">
        <label for="fromAccount">From Account</label>
        <input type="text" name="FromAccount" class="form-control" placeholder="From Account">
    </div>

    <div class="form-group">
        <label for="toAccount">To Account</label>
        <input type="text" name="ToAccount" class="form-control" placeholder="To Account">
    </div>

    <div class="form-group">
        <label for="amount">Amount</label>
        <input type="text" name="TransferAmount" class="form-control" placeholder="Amount">
    </div>

    <button type="submit" class="btn btn-primary">Transfer</button>
</form>